---
layout: default
title: GitHub Showcase
---

{% assign github_profile_stats = site.data.fetch.github_profile %}
{% assign github_repos = site.data.fetch.github_repos | sort: "updated_at" | reverse %}
{% assign max_github_repos = site.jekyll-github-showcase-template.num_repos | minus: 1 %}

<a href="https://github.com/{{ github_profile_stats.login }}"><p class="follow-me-button">Follow me on GitHub!</p></a>
<br><br>

<img src="{{ github_profile_stats.avatar_url }}" style="width: 128px; height: 128px; border-radius: 250px;"></img>
<h1><u>{{ github_profile_stats.login }}</u></h1>
<br>
<h2>{{ site.jekyll-github-showcase-template.text }}</h2>
<br><br><br>
<p>Public GitHub Repositories: {{ github_profile_stats.public_repos }} (showing {{ max_github_repos }})</p>
<div class="profile-allcontainer">
  {% for i in (0..max_github_repos) %}
    {% if github_repos.size > i %}
      {% assign repo = github_repos[i] %}
      <div class="profile-container col-lg-5">
        <div class="logo-wrapper">
          <svg class="profile-container-img" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub icon</title><path fill="#FFFFFF" fill-opacity="1.0" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
        </div>
        <a href="{{ repo.html_url }}"><p class="profile-container-text">{{ repo.name }}</p></a>
        <p class="profile-container-description">{{ repo.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>

<br>
<h2>{{ site.jekyll-github-showcase-template.text_below }}</h2>

<br><br><br>
<a href="https://github.com/yoshc"><p>Template by Joshua Christl</p></a>
