body, html {
  color: #FFFFFF;
	background: linear-gradient(to bottom, #d9c1a3 0%, #e4b77d 100%) no-repeat #d9c1a3;
  text-align: center;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 22px;
	font-family: "Helvetica Neue", "Helvetica", "Arial";
}

h2 {
  line-height: 1.6em;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}
@media(min-width:767px) {
  h2 {
    line-height: 1.6em;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
  }
}

.follow-me-button {
  color:#FFF;
  text-align: right;
  margin: 20px;
}


.profile-allcontainer {
  background: #EFEFEF;
  border-radius: 25px;
	border: 2px solid #999999;
  margin: 10px;
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
}

@media(min-width:767px) {
  .profile-allcontainer {
    margin: 100px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
  }
}

.profile-container {
  background-color: #FFFFFF;
	border: 2px solid #BBBBBB;
  border-radius: 25px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  width: 300px;
  height: 240px;
  margin: 20px;
  color: #000;
}

@media(min-width:767px) {
  .profile-container {
    width: 400px;
    height: 200px;
  }
}

.profile-container:hover {
	box-shadow: 0 0.225rem 0.35rem rgba(0,0,0,0.275);
}

.logo-wrapper {
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: 126px;
  background-color: #000;
  border-radius: 25px;
}

@media(min-width:767px) {
  .logo-wrapper {
    margin-left: 176px;
  }
}

.profile-container-img {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}

.profile-container-text {
  font-size: 16px;
  margin: 10px;
  text-align:center;
}

@media(min-width:767px) {
  .profile-container-text {
    font-size: 16px;
  }
}

.profile-container-description {
  font-size: 12px;
  margin: 20px;
  margin-top: 20px;
  text-align:left;
}

@media(min-width:767px) {
  .profile-container-description {
    font-size: 16px;
  }
}
